<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
            <td>角色id</td>
            <td>密码</td>
        </tr>

        <tr th:each="person:${person}">
            <td th:text="${person.uId}"></td>
            <td th:text="${person.uName}"></td>
            <td th:text="${person.uRoleId}"></td>
            <td th:text="${person.uPassword}"></td>
        </tr>


    </table>

</body>
</html>